
QWidget {
    background-color: #34495E;

}


QLabel {
    color: #ECF0F1;
    /*font-family: ;*/
    font-size: 16px;
}

QPushButton{
    /*font-family: StayPixelRegular-EaOxl;*/
    background-color: #95A5A6;
    color: #2C3E50;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    border: 2px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

QComboBox{
    color:white;

}